# .NET build folders
**/obj
**/bin

# Certificate files
**.crt
**.pfx
**.pem

# logs and dumps
**/logs/
**.log
**/dumps/priv/*

# dev settings
**/dev.appsettings.json

# runtime files
**/messageId
**/arcadia.db*
ip-to-country.mmdb